altair==5.5.0
attrs==25.3.0
blinker==1.9.0
branca==0.7.0
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
fiona==1.10.1
folium==0.14.0
geopandas==1.0.1
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
importlib-metadata==6.11.0
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
narwhals==1.38.0
numpy==1.24.4
packaging==23.2
pandas==2.0.3
pillow==10.4.0
plotly==6.0.1
protobuf==4.25.7
pyarrow==20.0.0
pydeck==0.9.1
Pygments==2.19.1
pyogrio==0.10.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.36.2
requests==2.32.3
rich==13.9.4
rpds-py==0.24.0
shapely==2.1.0
six==1.17.0
smmap==5.0.2
streamlit==1.45.1
streamlit-folium==0.16.0
tenacity==8.5.0
toml==0.10.2
tornado==6.4.2
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
validators==0.35.0
watchdog==3.0.0
zipp==3.21.0
